.page {
  background-color: #2a2c2f;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  box-sizing: border-box;

  min-width: 320px;
  max-width: 4000px;
  margin: 0 auto;
}
