.lead {
  width: calc(100%);
  margin: auto;
}

.lead__image {
  background-image: url(../../images/lead-polka.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 62.5%;
  box-sizing: border-box;
  margin: auto;
}

.lead__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  margin: auto;
  width: 288px;
  text-align: center;
  padding-bottom: 16px;
}

.lead__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  width: 288px;
  text-align: center;
  padding-bottom: 40px;
}

.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  padding-top: 8px;
  margin: 0;
  padding-left: 16px;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    padding-bottom: 32px;
  }

  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    width: 640px;
    padding-bottom: 56px;
  }
  .lead__caption {
    padding-left: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .lead {
    width: calc(100% - 48px * 2);
  }
  .lead__caption {
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    width: 984px;
    margin: auto;
  }
  .lead__subtitle {
    padding-bottom: 64px;
  }
}
