.lead {
  width: calc(100%);
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .lead {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    width: 984px;
    margin: auto;
  }
}
