.intro {
  width: calc(100% - 16px * 2);
  margin: auto;
  padding: 64px 0;
}

@media screen and (min-width: 768px) {
  .intro {
    width: calc(100% - 24px * 2);
    padding: 88px 0;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    width: 690px;
    padding: 92px 0;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: calc((100% - 984px) / 2);
  }
}
