.lead__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  width: 288px;
  text-align: center;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    width: 640px;
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    padding-bottom: 64px;
  }
}
