.place__link {
  text-decoration-line: underline;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.place__link:hover {
  opacity: 0.8;
}
